- Name Entity Recognition (NER) is a natural language processing (NLP) technique used to identify and classify named entities in text into predefined categories such as person names, organizations, locations, dates, and more.

- The objective of NER is to extract meaningful information from unstructured text and understand the context of the text by recognizing and classifying specific named entities.

- The output of an NER system is typically a set of recognized entities along with their corresponding categories

-  For example, given the sentence "Apple Inc. is planning to open a new store in New York next month," an NER system would identify "Apple Inc." as an organization, "New York" as a location, and recognize the temporal expression "next month" as a date.

In [ ]:
import spacy
nlp=spacy.load("en_core_web_sm")

In [ ]:
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [ ]:
doc=nlp("Tesla Inc is going to acquire twitter for $45 billion")
for ent in doc.ents:
  print(ent.text,"|",ent.label,"|",spacy.explain(ent.label_))

Tesla Inc | 383 | Companies, agencies, institutions, etc.
$45 billion | 394 | Monetary values, including unit

#List down all the entities

In [ ]:
#Named entities supported by spacy

nlp.pipe_labels['ner']

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

List of entities are also documented on this page: https://spacy.io/models/en

In [ ]:
doc = nlp("Michael Bloomberg founded Bloomberg Inc in 1982")

for ent in doc.ents:
  print(ent.text,"|",ent.label_,"|",spacy.explain(ent.label_))

Michael Bloomberg | PERSON | People, including fictional
Bloomberg Inc | ORG | Companies, agencies, institutions, etc.
1982 | DATE | Absolute or relative dates or periods

In [ ]:
s = doc[2:5]
s

founded Bloomberg Inc

#Span Class

In [ ]:
from spacy.tokens import Span

s1= Span(doc,0,1,label="ORG")
s2= Span(doc,5,6,label="ORG")

doc.set_ents([s1,s2],default="unmodified")

In [ ]:
for ent in doc.ents:
  print(ent.text,"|",ent.label_)

Michael | ORG
Bloomberg | PERSON
Bloomberg Inc | ORG
in | ORG
1982 | DATE

#Excersie: 1
Extract all the Geographical (cities, Countries, states) names from a given text

In [ ]:
text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

doc = nlp(text)



#list for storing all the names
all_gpe_names = []

for ent in doc.ents:
  if ent.label_ == 'GPE':     #checking the whether token belongs to entity "GPE" [Geographical location]
    all_gpe_names.append(ent)



#finally printing the results
print("Geographical location Names: ", all_gpe_names)
print("Count: ", len(all_gpe_names))

Geographical location Names:  [India, Delhi, Gujarat, Tamilnadu, Pongal, Andhrapradesh, Assam, Bihar]
Count:  8

#Excersie: 2
Extract all the birth dates of cricketers in the given Text

In [ ]:
text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

doc = nlp(text)



#list for storing all the dates
all_birth_dates = []

for ent in doc.ents:
  if ent.label_ == 'DATE':     #checking the whether token belongs to entity "DATE" [Dates]
    all_birth_dates.append(ent)



#finally printing the results
print("All Birth Dates: ", all_birth_dates)
print("Count: ", len(all_birth_dates))

All Birth Dates:  [24 April 1973, 5 November 1988, 7 July 1981, 19 December 1974]
Count:  4